/*estilo del div del encabezado*/
.encabezado{
    display: flex;
    justify-content: center;
    background-color: rgb(218, 17, 17);
}

/*estilo del div del contenedor y que este centrado*/
.Contenedor{    
    max-width: 1200px;
    margin: auto;
    margin-top: 5px;
}

/*modificacion del texto del menu*/
.Contenedor a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    font-weight: bold;
    margin-top: 5px;

}

/*estilo del div del menu*/
.menu{
    height: 100px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center; 
}

/*estilo del div de los botones del menu*/
.opcion{
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

/*estilo de las noticias*/
.noticia1{
    float: left;
    max-width: -webkit-fill-available;
    background-color: white;
    margin-top: 10px;
    position: relative;
    border-radius: 20px;
    text-align: center;
}
.noticia2{
    background-color: #a419c1;
    margin-top: 10px;
    float: right;
    position: relative;
    border-radius: 20px;
    text-align: center;
}
.noticia3{
    background-color: #19c12f;
    margin-top: 10px;
    float: right;
    position: relative;
    top: 1pc;
    border-radius: 20px;
    text-align: center;
}


/*estilo de las imagenes*/
.img1{
    max-width: -webkit-fill-available;
    height: 400px;
    border-radius: 20px;
}
.img2{
    width: 350px;
    height: 300px;
    border-radius: 20px;
}

